{% extends "base.html" %}
{% block content %}

<div class="mt-2"
    x-data="{
        pokemons: [],
        async retrievePokemons() {
            this.pokemons = await (await fetch('/api/pokemon')).json();
        },
        async retrieveSprite(pokemon_name) {
            return await (await fetch('/api/pokemon-sprite/'+pokemon_name)).text();
        },

        search: '',
        doSearch() {
            return this.pokemons.filter((pokemon) => {
                return pokemon.name
                    .replace(/ /g, '')
                    .toLowerCase()
                    .includes(this.search.replace(/ /g, '').toLowerCase());
            });
        },

        pagination: new Pagination(30),
    }"
    x-init="
        await retrievePokemons();
    ">

    <div class="container mx-auto">

        {# pokemon name search box #}
        <input
            x-ref="searchInput"
            x-model="search"
            x-on:keydown.window.prevent.slash="$refs.searchInput.focus(); doSearch()"
            placeholder="Ищем покемона..."
            type="search"
            class="block w-full rounded bg-gray-200 p-4 mb-4"
        />

        {# Pokemons list #}
        <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-4">
            <template x-for="pokemon in pagination.paginate(doSearch())"
                      :key="pokemon.name">
                <div class="flex items-center shadow p-4">
                    <img class="rounded-full w-12 h-12" x-bind:src="retrieveSprite(pokemon.name)" />
                    <div class="ml-4">
                        <a x-bind:href="'/pokemon/'+pokemon.name"><span class="text-lg text-gray-900" x-text="pokemon.name"></span></a>
                    </div>
                </div>
            </template>
        </div>

        {# Pagination links #}
        <div class="flex flex-wrap mt-4">
            <template x-for="page in pagination.pages_count">
                <div class="flex items-center justify-center border-solid border-2 border-indigo-600 p-2 mx-1 mb-1 min-w-[2.5rem] min-h-[2.5rem] cursor-pointer"
                    x-text="page"
                    x-on:click="pagination.current_page = page-1"></div>
            </template>
        </div>
    </div>
</div>

{% endblock %}
