{% extends "base.html" %}
{% block content %}

<div class="mt-2"
    x-data="{
        pokemons: [],
        search: '',
        pagination: new Pagination(30),
    }"
    x-init="
        pokemons = await API.retrievePokemons();
    ">

    <div class="container mx-auto">

        {# pokemon name search box #}
        <input
            x-ref="searchInput"
            x-model="search"
            x-on:keydown.window.prevent.slash="$refs.searchInput.focus();"
            placeholder="Ищем покемона..."
            type="search"
            class="block w-full rounded bg-gray-200 p-4 mb-4"
        />

        {# Pokemons list #}
        <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-4">
            <template x-for="pokemon in pagination.paginate(pokemons.filterStringFieldIncludes('name', search))"
                      :key="pokemon.name">
                <div class="flex items-center shadow p-4">
                    <img class="rounded-full w-12 h-12" x-bind:src="API.retrieveSprite(pokemon.name)" />
                    <div class="ml-4">
                        <a x-bind:href="'/pokemon/'+pokemon.name"><span class="text-lg text-gray-900" x-text="pokemon.name"></span></a>
                    </div>
                </div>
            </template>
        </div>

        {# Pagination links #}
        <div x-html="Pagination.links('pagination');"></div>
    </div>
</div>

{% endblock %}
