{% extends "base.html" %}
{% block content %}

{% from "helpers/formhelpers.html" import render_field %}

<div>
    <form action="/register", method="POST"
          class="flex mt-2 justify-center items-center mt-4">
        <div class="flex flex-col gap-2">
            {{ render_field(form.username, class_="rounded border-2 border-black border-solid px-2") }}
            <hr />
            {{ render_field(form.email, class_="rounded border-2 border-black border-solid px-2") }}
            <hr />
            {{ render_field(form.password, class_="rounded border-2 border-black border-solid px-2") }}
            <hr />
            {{ render_field(form.confirm, class_="rounded border-2 border-black border-solid px-2") }}
            <hr />
            <button type="submit">Зарегистрироваться</button>
            {% if error %}
            <div class="mt-4 text-white bg-red-500 py-2 px-4">
                {{ error }}
            </div>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}
